{% block header %}
<header id="header" class="header">
  <div class="container">
    <div class="header-container nes-container">
      <div class="header-title">
        <h1 class="title"><a href="{{ siteConfig.rootDir }}">{{ siteConfig.title }}</a></h1>
        <h2 class="subtitle">{{ siteConfig.subtitle }}</h2>
      </div>
      <nav id="nav" class="nav">
        <a id="nav-toggle" class="nav-toggle" aria-hidden="true"><i class="fas fa-bars" aria-label="{{ __("accessibility.navToggle") }}"></i></a>
        <ul id="menu" role="menubar" aria-hidden="false">
          {% for e in themeConfig.menu %}
          <li role="menuitem"><a href="{{ getPath(e.link) }}" class="nes-btn{% if isCurrentPath(e.link) %} is-primary current{% endif %}">{% if e.icon %}{{ e.icon }}{% endif %}<span class="menu-text">{{ __(e.name) }}</span></a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
{% endblock %}
